<main class="flex flex-col gap-y-28">
  <article id="card">
    <p class="font-bold">Users</p>
    <hr class="mb-10" />
    <aside class="grid lg:grid-cols-4 gap-4 md:grid-cols-2 sm:grid-cols-1 ">
      @if (users$ | async; as users) { @for (user of users; track user.id) {
      <app-card
        [name]="user.name"
        [email]="user.email"
        [title]="user.title"
      />
      } @empty {
      <div role="alert" class="alert alert-error">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span> server Error </span>
      </div>
      } } @else if(!isUserLoading) {
      <div role="alert" class="alert alert-error">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span> server error </span>
      </div>
      }
    </aside>
  </article>
</main>
