@if(isLoading) {
<aside class="skeleton flex w-full h-full">
  <section class="size-20 rounded-full skeleton"></section>
  <section class="w-9/12 flex flex-col gap-y-10 p-2">
    <aside class="w-full skeleton h-4"></aside>
    <aside class="w-full skeleton h-4"></aside>
  </section>
</aside>
} @if(image$ | async; as image;){
<main class="bg-[#8641B6]">
  <article class="flex gap-x-10 text-white p-4">
    <div class="size-20 rounded-full">
      <img class="size-full rounded-full object-cover" [src]="image" />
    </div>
    <section class="flex flex-col justify-between">
      <p>{{ title }}</p>
      <p>{{ name }}</p>
    </section>
  </article>
</main>
} @else if(!isLoading) {
<main class="bg-[#8641B6]">
  <article class="flex gap-x-10 text-white p-4">
      <div role="alert" class="alert alert-error w-1/4">
        <span class="text-white text-ellipsis"> Error retrieving image</span>
    </div>
    <section class="flex flex-col justify-between">
      <p>{{ title }}</p>
      <p>{{ name }}</p>
    </section>
  </article>
</main>

}
